.gradient-custom {
  background: black;
  background: -webkit-linear-gradient(to bottom right, black, blue);
  background: linear-gradient(to bottom right, grey, black); }

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em; }

.card-registration .select-arrow {
  top: 13px; }

* {
  font-family: cursive; }
