$mycolor: blue;
$mycolor2: #83919e;
$mycolor3: black;
$mycolor4: whitesmoke;
$mycolor5: gray;
$mycolor6: lightblue;


.bttns {
	border: 1px solid $mycolor;
	border-radius: 0px ;
	background-color: $mycolor2 ;
	color: $mycolor3 ;
	display: inline-block ;
	width: 170px ;
	align-items: right; 
	box-shadow: 0 8px 16px 0 rgba(40, 16, 250, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
	display: block ;
	font-size: 2em ;
	margin-block-start: 0em; 
	margin-block-end: auto ;
	margin-inline-start: 10px; 
	margin-inline-end: 950px ;
	font-weight: bold ;
	text-align: left ;}
.name {
	display: block ;
	font-size: 2em ;
	margin-block-start: -2em ;
	margin-block-end: 1.5em ;
	margin-inline-start: 150px ;
	margin-inline-end: 0px ;
	font-weight: bold }
.row {
	text-align: center }
* {
    background-color: $mycolor4 }
.cookie-banner {
	position: fixed ;
	bottom: 40px ;
	left: 10% ;
	right: 10% ;
	width: 80% ;
	padding: 5px 14px ;
	display: flex ;
	align-items: center ;
	justify-content: space-between ;
	background-color: $mycolor5 ;
	border-radius: 5px ;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) }
.close {
	height: 20px ;
	background-color: $mycolor5 ;
	border: none ;
	color: $mycolor6 ;
	border-radius: 2px ;
	cursor: pointer }
