.bttns {
    border: 1px solid blue;
    border-radius: 0px;
    background-color: rgb(131, 145, 158);
    color: rgb(12, 12, 12);
    display: inline-block;
    width: 170px;
    align-items: right;
    box-shadow: 0 8px 16px 0 rgba(40, 16, 250, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.name {
    display: block;
    font-size: 2em;
    margin-block-start: -2em;
    margin-block-end: 1.5em;
    margin-inline-start: 150px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.row{
    text-align: center;
}

.bttns{
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: auto;
    margin-inline-start: 10px;
    margin-inline-end:950px;
    font-weight: bold;
    text-align: left;
}
*{
    background-color: whitesmoke;
}

.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .close {
    height: 20px;
    background-color: #777;
    border: none;
    color: lightblue;
    border-radius: 2px;
    cursor: pointer;
  }